<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Us</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../views/second.css">
    </head>
    <body>
    <nav class="navbar nav nav-pills navbar-fixed-top navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="/">
        <img src="../Assets/logo.png" alt="FelIn Logo" width="75" height="auto" style="margin-top: 0px;">
        </a>
        </div>
        <ul class="nav navbar-nav mr-auto">
            <li><a href="/why-hire-from-us">Why Hire From Us</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="https://www.gofundme.com/">Donate</a></li>
        </ul>
        </div>
    </nav> 
    <br><br><br>
    <div class="container-fluid">
    <div>
    <h1 align="center"><strong>Our Story</strong></h1>
    <h1 align="center">How we got started - and what is our purpose</h1>
    </div>
    <div class="banner">
            <img src="./Assets/prison.png">
    </div>
        <div class="sixthsec">
        <p class="descrip" align="center">The United States of America holds the most criminals in the entire</p>
        <div class="bigtext" align="center">WORLD.</div>
        <div class="row">
        <p class="descrip" align="center">Over 2.2 million adults are incarcerated and almost 5 million adults are in probation/parole.</p>
        <p class="descrip" align="center">Many of those people HAVE the ability to contribute to the world's economy, but the justice system doesn't prepare them enough for the job seeking process.</p>
        <p class="descrip" align="center">Instead, ex-criminals who are unable to find jobs are more likely to re-offend</p>
        </div>
        </div>
        <div class="seventhsec">
        <h1 align="center"><strong>Purpose</strong></h1>
        <p class="descrip" align="center">Here at FelIn, we hope to solve America's broken criminal system. Soon to be ex-criminals will be able to set up a FelIn Profile with all their details:</p>
        <ul>
        <li>The tests that they have passed.</li>
        <li>Training programs that they have been through.</li>
        <li>Reviews from Correctional Officers.</li>
        <li>Previous jobs they held during prision.</li>
        </ul>
        <p class="descrip" align="center">We allow them to build up a profile for future employers to look at.
            </p>
        <p class="descrip" align="center">This way, they can match with employers quicker, rate of re-commit of crime will decrease, and benefit America's economy by joining the workforce.</p>
        </div>
        </div>
    </body>
</html>