<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Signup | Seeker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/Assets/normalize.css">
    <link rel="stylesheet" href="/views/signup.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
</head>

<body>
    <div class="header clearfix">

        <a href="/" ><img src="../Assets/logo.png" alt="logo"></a>
        <h3>Ryse</h3>
    </div>
    <h2 class="welcome">Welcome to Ryse! Please enter the following information to help us match you with a job.</h2>
    <div class="form">
        <form action="/signup/submit/seeker" method="POST">
            <p class="Questions">General Information</p>
            First Name: <input type="text" name="first"><br>
            Last Name: <input type="text" name="last"><br>
            Username: <input type="text" name="username"><br>
            Location: <input type="text" name="location"><br>
            Email: <input type="email" name="email"><br>
            Phone Number: <input type="tel" name="number"><br>
            Skills (separated by commas): <input type="text" name="skills"><br>

            <p class="Questions">Password</p>
            Password: <input type="password" name="password"><br>
            Re-enter Password: <input type="password" name="passwordConfirm"><br>

            <p class="Questions">Questions</p>
            1. Tell us about yourself. <textarea type="text" name="q1"></textarea><br>
            2. How has being incarcerated changed you? <textarea type="text" name="q2"></textarea><br>
            3. Short/Long term goals? <textarea type="text" name="q3"></textarea><br>
            4. Where do you see yourself in 10 years?<textarea type="text" name="q4"></textarea><br>
            5. How do you plan to transition back into daily civilian life?<textarea type="text" name="q5"></textarea><br>
            6. Have you completed any unique programs/workshops? If yes, how have they contributed to your personal
            outlook/attitude?<textarea type="text" name="q6"></textarea><br>
            7. Why do you believe you made mistakes in the past and how will you prevent yourself from making mistakes
            again.<textarea type="text" name="q7"></textarea><br>
            8. What activities/hobbies do you plan on taking up outside of work?<textarea type="text" name="q8"></textarea><br>
            9. What is your outlook on the criminal justice system?<textarea type="text" name="q9"></textarea><br>
            10. Is there anything else important that people should know about you?<textarea type="text" name="q10"></textarea><br>
            <input class="btn-submit" type="submit" value="Submit">
        </form>
    </div>
</body>

</html>