<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Why hire from us?</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../views/second.css">
    </head>
    <body>
    <nav class="navbar nav nav-pills navbar-fixed-top navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="/">
        <img src="../Assets/logo.png" alt="FelIn Logo" width="75" height="auto" style="margin-top: 0px;">
        </a>
        </div>
        <ul class="nav navbar-nav mr-auto">
            <li><a href="/why-hire-from-us">Why Hire From Us</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="https://www.gofundme.com/">Donate</a></li>
        </ul>
        </div>
    </nav>
        <div class="col-xs-12" style="height:50px;"></div>
        <div class="firstsec">
        <br><br><br>
        <img class="pic" src="./Assets/economicgrowth.jpg" alt="Per-capita Income growth" border="0" align="center">
        <div class="row" align="center"><h4>Economic and Social Impact</h4></div>
        <p align="center">You have the ability to transfer criminal liability to a community asset. This will benefit the overall economy, lower crime on the streets, and help your community.</p>
        </div>
        <div class="secondsec">
        <div class="row" align="center"><img class="pic" src="./Assets/productivity.jpeg" alt="Pushing for higher Productivity Levels" align="center">
        </div>
        <div class="row" align="center"><h4>Higher Productivity Levels</h4></div>
        <p align="center"> Ex-criminals are likely to look out for you because you provided them with an opportunity. They are grateful and will work very hard to help you succeed.</p>
        </div>
        <div class="thirdsec">
        <div class="row" align="center">
        <img class="pic" src="./Assets/prisionrehab.jpeg" alt="Prision Rehab Programs" align="center">
        </div>
        <div class="row" align="center"><h4>Transferable Skills from Prision Training</h4></div>
        <p align="center">There are many prision rehab workshops that teach inmates skills such as vocational training, certification programs for GEDs, and college degrees.</p>
        </div>
        <div class="fourthsec">
        <div class="row" align="center">
        <img class="pic" src="./Assets/lowturnover.jpeg" alt="Keeping Employee Turnover Low" align="center">
        </div>
        <div class="row" align="center"><h4>Low Turnover Rates</h4></div>
        <p align="center">Ex-inmates are likely to become long-term employees because they want to commit to lead an honest and responsible job.</p>
        </div>
        <div class="fifthsec">
        <img class="pic" src="./Assets/taxincentives.jpg" alt="Accounting and Taxes" align="center">
        <div class="row" align="center"><h4>Tax Incentives for Employers</h4></div>
        <p align="center">Businesses who choose to hire ex-felons within a year from their release from prision can qualify for a Work Opportunity Tax Credit from the government.</p>
        </div>
    </body>
</html>